#menu-toggle:checked + #menu{
    display: block;
}
.height{
    height: 82vh;
}
.img-height{
    height: 70vh;
}
.img-container{
    background-image: url("images/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.hero-content{
    width: 600px;
}